.card img {
  width: 220px;
  height: 220px;

  text-align: left;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 220px;

  padding: 1rem;
  margin: 0 1rem;
  font-family: "DM sans", sans-serif;
  font-size: 16px;
}

.card h4 {
  max-height: 4px;
  max-width: 100%;
  text-overflow: ellipsis;
  text-align: left;
}

.card button {
  padding: 0.5em;
  background-color: rgb(1, 5, 27);
  border-radius: 4px;
  transition-duration: 0.3s;
  margin-bottom: 1rem;
}

.card button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgb(219, 219, 219);
}

.card b {
  font-family: "DM sans", sans-serif;
}